.block_container{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.card-section{
    margin-right: 50px;
}

.card-image{
    min-height: 220px;
}

.card-image img {
    max-height: 15rem;
}

.card-section:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
     /* (1520% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}