@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Nunito', sans-serif;
}

code {
    font-family: 'Nunito', sans-serif;
}

.appContainer{
    opacity:0.8;
    background-color: #ffffff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}